.button {
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.button a {
  color: #fff;
}
