.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.button a {
  color: #fff;
}

.btnFullWidth {
  width: 100%;
}

.icon {
  padding-right: 10px;
}

.default {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
}

.danger {
  background-color: var(--color-danger);
  border: 1px solid var(--color-danger);
}

.button:disabled {
  opacity: 0.5;
}
