.heading {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 500;
}

.headerContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
