.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonsContainer button:not(:last-child) {
  margin-right: 10px;
}

.input {
  margin-bottom: 10px;
}

.error {
  color: var(--color-danger);
  margin-bottom: 10px;
}
