.section {
  padding: 20px;
}

.illustration {
  flex: 1;
}

.heading {
  font-size: 40px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: row-reverse;
  }

  .info {
    width: 60%;
  }

  .illustration {
    margin-left: 80px;
  }
}
