.section {
  padding: 20px;
}

.illustration {
  flex: 1;
  text-align: center;
}

.heading {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.button {
  padding: 15px;
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
  .section {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    width: 60%;
  }

  .info {
    padding-right: 120px;
  }
}
