.input {
  border: 1px solid var(--color-gray-dark);
  border-radius: 6px;
  height: 40px;
  padding: 0 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.fullWidth {
  width: 100%;
}
