.accountContainer {
  padding: 20px;
}

.accountDetailsContainer {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.accountInfo {
  padding: 10px;
}

.name {
  margin: 20px 0;
}

.email {
  margin: 0;
}

.accountMainContainer {
  max-width: 600px;
  margin: 0 auto;
}

.logOutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 60px;
}

.logoutButton {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-danger);
}
