@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --color-primary: #0097e6;
  --color-gray: #b6bec5;
  --color-gray-dark: #8c8989;
  --color-gray-light: #eee;
  --color-dark: #222;
  --color-light: #fff;
  --color-info: blue;
  --color-success: #8bc34a;
  --color-danger: #c00;
  --color-danger-light: #fbe1e3;
  --border-radius: 6px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
