.loginContainer {
  padding: 20px;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-bottom: 20px;
  height: 45px;
}

.buttonsContainer {
  margin-top: 40px;
}

.btnGoogle {
  background-color: #fff;
  color: var(--color-dark);
  border: 1px solid var(--color-gray);
}

.btnGithub {
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.buttonText {
  margin-left: 10px;
}

@media only screen and (min-width: 1024px) {
  .loginContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .illustration {
    padding-right: 40px;
  }

  .illustration img {
    width: 100%;
  }

  .loginCreds {
    flex: 1;
  }
}
