.offerContainer {
  padding: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.heading {
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}

.icon {
  text-align: center;
}

.item {
  margin: 40px 0px;
}

.description {
  font-size: 16px;
  line-height: 24px;
}

.offerSection {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .offerSection {
    flex-direction: row;
  }

  .item {
    flex: 1;
    margin: 40px 80px;
  }
}
